/*
 * Navbar
 */
.navbar .navbar-toggler {
  top: 1.7rem;
}

.bg-dark {
  background: url(../../../assets/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.daimler-logo {
  height: 28px;
}
