.gradient-custom {
    background-image: url('../../../../assets/background-poc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.input-group-text {
    background-color: rgb(255 255 255 / 0%);
}

/*.form-control {
    background-color: rgb(255 255 255 / 0%);
}*/